* {
    box-sizing: border-box;
    background-color: rgb(35, 42, 61);
    font-family: 'Courier New', Courier, monospace;
    color: #fff
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.headshot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

img {
    width: auto;
    height: 100%;
    max-height: 30vh;
}

.namecard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: calc(14px + 2vw);
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    font-size: calc(7px + 2vw);
}
/**********************END-HEADER**********************/

/**********************BEGIN-MAIN**********************/
body {
    background-color: rgb(35, 42, 61);
}
/* .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 40px auto;
    flex: 1 0 250px;
} */


.project-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    transition: transform .2s;
    width: 100%;
    border: 1px solid #ffffff;
}
  
.project-image:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}


.project-image img {
    width: 100%
}

/**********************END-MAIN************************/

/*******************BEGIN-SUMMARY**********************/
/* .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid #ffffff; 
    Padding: 2em;
} */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid grey;
}

input [type=text]:focus {
     background-color: lightblue;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid grey;
}
/*******************END-SUMMARY**********************/

/*******************END-FOOTER**********************/
 footer {
    display: flex;
    justify-content: center;
 }



/********************BEGIN-MEDIA-QUERY***************/

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 80%;
    }
    /* .portfolio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    } */

    * {
        box-sizing: border-box;
        border: 0px solid rgb(209, 207, 207);
        background-color: rgb(35, 42, 61);
        font-family: 'Courier New', Courier, monospace;
        color: #fff
    }
}

@media screen and (min-width: 950px) {
    .header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .navbar {
        align-self: flex-end;
        flex-direction: column;
        order: -2;
        color: yellow;
    }

    .header div {
        color:turquoise
    }
}