* {
    box-sizing: border-box;
    border: 1px solid rgb(209, 207, 207);
    background-color: rgb(35, 42, 61);
    font-family: 'Courier New', Courier, monospace;
    color: #fff
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.headshot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

img {
    width: auto;
    height: 100%;
    max-height: 30vh;
}

.namecard {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: calc(14px + 2vw);
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 80%;
}
/**********************END-HEADER**********************/

/**********************BEGIN-MAIN**********************/
.porfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #ffffff;
}
    
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #ffffff;
    padding: .5em
    
}

.project-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #ffffff;
}

.project-image img {
    width: 100%
}

/**********************END-MAIN************************/
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #ffffff;
}

 input[type=text] {
     width: 60%;
     padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid grey;
 }

 input [type=text]:focus {
     background-color: lightblue;
 }
/*******************BEGIN-SUMMARY**********************/

/*******************END-SUMMARY**********************/
